body{
    background-color: rgb(189, 186, 186);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

ul{
    list-style: none;
    font-size: 30px;
    padding: 10px;
}

ul .list-items{
    padding: 10px;
    border: 2px solid gray;
}

.box {
  border: 2px solid red;
  border-radius: 10px;
  padding: 24px 40px;
  width: fit-content;
  background-color: aliceblue;
}

#main-heading{
font-style: italic;
}

