body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
}
ul{
    list-style-type: none;
    font-size: 30px;
    border: 3px solid white;
    padding-left: 0px;
    padding: 30px;
    margin: 1em 0;
}

li{
    border: 3px solid blue;
    padding: 10px;
}