body{
    background-color: grey;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.div2{
    text-align: center;
    border: 5px solid white;
    padding: 90px;
    font-size: 50px;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    justify-content: space-around;
    font-size: 50px;
    padding: 10px;
}
button{
    font-size: 20px;
}

