/* General styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("../Photos/library.jpeg");
}

.container{
    width: 550px;
    /* height: 450px; */
}

.header{
    font-size: 1.6rem;
    border: solid 2px white;
    color: white;
    background-color: black;
    padding: 10px;
    width: 93%;
    margin: 20px auto;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    /* height: 300px; */
    background-color: white;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;

}

.main-content .text-area{
    font-size: 1.9rem;
    line-height: 1.5;
}

.main-content .person {
    font-size: 2.2rem;
    color: red;
    text-transform: uppercase;
    margin-top: 25px;
}

.button-area button{
    background-color: darkgray;
    color: white;
    font-size: 1.7rem;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.button-area button:active{
    background-color: gray;
}

.text-area{
    max-width: 100%;
    word-wrap: break-word;
}
.main-content{
    transition: all 0.3s ease;
}
