body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.Grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 800px; /* let rows adjust to image sizes */
  gap: 4px;
}

.item img {
  width: 100%;
  height:100%;
  object-fit: cover; /* avoids image stretching */
}

.item img-1 { grid-column: 1 / 3; }
.item img-2 { grid-column: 3 / 4; grid-row: 1 / 3; }
.item img-3 { grid-column: 1 / 2; grid-row: 2 / 3; }
.item img-4 { grid-row: 2 / 4; }
.item img-6 { grid-column: 3 / 4; }
