body {
  text-decoration: none;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

.Grid-container {
  column-count: 3;       /* number of columns */
  column-gap: 12px;      /* space between columns */
}

.item {
  break-inside: avoid;   /* prevent images from breaking awkwardly */
  margin-bottom: 12px;
}

.item img {
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  height: 100%;
}

*{
  text-decoration: none;
  
}

.navbar{
  background: rgb(62, 108, 171); 
  font-family: calibri; 
  padding-right: 15px; 
  padding-left: 15px;
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 20px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 70px;
  font-weight: 600;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-right: 65px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  background-color: black;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
}

.mount {
  padding-left: 15px;
  font-size: 30px;
}

.img-1 img,
.img-2 img {
  height: 1420px;         /* set desired display height */
  width: 100%;           /* keep full width */
  object-fit: cover;     /* crops instead of squishing */
  object-position: top;  /* crops from the top */
}

li a::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(143, 127, 238);
  margin: auto;
  display: block;
}
li a:hover::after{
  width: 100%;
  transition: width 0.3s linear;
}

ul{
  display: flex;
  justify-content: center;
}