html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

button{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shoe{
    width: 380px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    border-style: ridge;
    transition: transform 0.2s ease-in-out;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: rgb(212, 229, 223);
    
}
.content{
    text-align: center;
}

.buy{  
    position: relative;
    margin-top: 20px;
    padding: 30px 60px ;
    left: 0px;
    border: 2px solid aqua;
    border-radius: 10px 40px 40px 10px;
    background-color: black;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
}

.cart{
    
    position: relative;
    right: -28px;
    margin-top: 20px;
    padding: 30px 30px;
    border: 2px solid aqua;
    border-radius: 40px 10px 10px 40px;
    background-color: black;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cart:hover{
transform: scaleY(1.10) translateX(10px) rotate3d(-1,-1,4,5deg);
background-color: rgb(120, 149, 149);
}

.buy:hover{
transform: scaleY(1.10) translateX(10px) rotate3d(1,0,1,5deg);
background-color: rgb(120, 149, 149);

}

.shoe:hover{
    transform:  rotate3d(0,1,1,2deg) perspective(100px) translateZ(50px);
}

.cart-text{
    display: inline-block;
    margin-left: 30px;
}
