html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

button{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shoe{
    width: 380px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    border-style: ridge;
    transition: transform 0.2s ease-in-out;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: aliceblue;    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: rgb(12, 12, 12);
    
        /* Background setup */
    background: url("Aura.png") center center no-repeat;
    background-size: cover; /* makes it fill the whole container */
    background-color: rgb(0, 0, 0); /* fallback color */ 
}

.content{
    text-align: center;
    padding: 3.5rem;
    background-color: rgb(185, 219, 244);
    border-radius: 5%;
    width: 400px;
    height: 500px;
}

.buy{  
    position: relative;
    margin-top: 20px;
    padding: 30px 70px ;
    left: 3px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px 40px 40px 10px;
    background-color: black;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
}

.cart{
    
    position: relative;
    right: -28px;
    margin-top: 20px;
    padding: 30px 23px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px 10px 10px 40px;
    background-color: black;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cart:hover{
transform: scaleY(1.10) translateX(10px) rotate3d(-1,-1,4,5deg);
background-color: rgb(120, 149, 149);
}

.buy:hover{
transform: scaleY(1.10) translateX(10px) rotate3d(1,0,1,5deg);
background-color: rgb(120, 149, 149);
}

.shoe:hover{
    transform: perspective(100px) translateZ(4px) rotate3d(0,1,1,2deg) ;
}

.cart-text{
    display: inline-block;
    margin-left: 30px;
}

h1{
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20%;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.3rem;
    border: 4px solid white;
    margin-top: -22px;
    border-radius: 20%;
    
    background-color: rgb(0, 0, 0);
    color: white;
}

.xelux{
    padding: 0;
    margin: -42px;
    width: 150px;
    height: 100px;
}

