html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shoe{
    width: 380px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    border-style: ridge;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: rgb(212, 229, 223);
    
}
.content{
    text-align: center;
}

.buy{  
    position: relative;
    padding: 30px 60px ;
    left: 0px;
    border: 2px solid aqua;
    border-radius: 40%;
    background-color: black;
    color: aliceblue;

}

.cart{
    
    position: relative;
    right: -16px;
    padding: 30px 30px;
    border: 2px solid aqua;
    border-radius: 40%;
    background-color: black;
    color: aliceblue;
}

.cart:hover::before{
    transition: 0.4 ease-in-out;
}

.cart:hover::after{
    transform: scaleX(1);
}