html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shoe{
    width: 380px;
    border: 3px solid rgb(167, 229, 208);
    border-radius: 20px;
    

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: rgb(212, 229, 223);
    
}
.content{
    text-align: center;
}
