body {
  margin: 0;
  background-color: #28c52d; 
  background-image: url('../images/stars-removebg-preview.png');
  background-repeat: repeat;
  height: 670vh;
  background-size: 900px 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* TOP */
}

.name{
  display: flex;
  align-items: center;
  top: 500px;
  font-size: 100px;
  color: white;
}

.detail{
  font-size: 80px;
  margin-top: -100px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: yellow;
}


.img1 img{
display: flex;
justify-content: center;
width: 800px;
border: 5px solid white;
box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;
}

.image-line {
display: flex;
justify-content: center;
width: 400px;
justify-content: center;
gap: 60px;
padding: 70px;
}

.image-line .img2 img{
  max-width: 500px;
  border: 5px solid white;

  box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;
}
.image-line .img3 img{
  max-width: 500px;
  border: 5px solid white;

  box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;

  box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;
}
.image-line .img4 img{
  max-width: 500px;
  border: 5px solid white;

  box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;
}
.img5 img{
  max-width: 500px;
  border: 5px solid white;

  box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;
}

.txt1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: yellow;
  font-size: 50px;
  text-align: left;
  max-width: 1700px;
}

.txt2{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: yellow;
  font-size: 40px;
  text-align:left;
  max-width: 1700px;
  font-weight: 700;
}

.image-line2 {
display: flex;
justify-content: center;
width: 400px;
justify-content: center;
gap: 300px;
padding: 70px;
}

.img6 img{

  max-width: 500px;
  border: 5px solid white;

  box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;
}

.img7 img{
  max-width: 500px;
  border: 5px solid white;

  box-shadow:
  0 0 0 6px white,
  0 0 0 9px #d9d9d9;
}


.txt3{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 40px;
  text-align:left;
  max-width: 1700px;
  font-weight: 700;
}
.txt4{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 40px;
  text-align:left;
  max-width: 1700px;
  font-weight: 700;
}
.txt5{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 40px;
  text-align:left;
  max-width: 1700px;
  font-weight: 700;
}
.txt6{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 40px;
  text-align:left;
  max-width: 1700px;
  font-weight: 700;
}

.ribbons{
display: flex;
position: relative;
justify-content: center;
justify-content: center;
gap: 900px;
padding: 50px;
top: 200px;
}

.ribbons .ribbon1 img{
width: 120px;
}
.ribbons .ribbon2 img{
width: 120px;
transform: scaleX(-1);
}

.txt7{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: yellow;
  font-size: 80px;
  text-align:center;
  max-width: 1700px;
  font-weight: 700;
  position: relative;
  top: -150px;
}

.txt8{
  background-color:rgb(254, 122, 6) ;
  padding: 20px;
  width: 55%;
  height: 240px;
}

.txt8 h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: yellow;
  font-size: 140px;
  text-align:center;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 35px;
  text-decoration-color: rgb(251, 205, 1);
  top: -140px;
}

.txt8 h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-align:center;
  font-weight: 700;
  position: relative;
  top: -210px;
  text-align: center;
}

button{
  margin-top: 100px;
  width: 500px;
  font-size: 60px;
  height: 230px;
  color: white;
  background-color: red;
  font-family: 'Times New Roman', Times, serif;

  background: linear-gradient(
    to bottom,
    #ff4a4a 0%,
    #c40000 50%,
    #900000 100%
  );

  border: none;
  border-radius: 8px;

  box-shadow:
    inset 0 12px 0  rgba(255,255,255,0.4),
    inset 0 -6px 0 rgba(0,0,0,0.4),
    0 10px 0 #5c0000,
    0 14px 20px rgba(0,0,0,0.6);

  cursor: pointer;
  text-align: center;
  line-height: 1.1;
}

.visitor{
  margin-top: 100px;
}

.visitor img{
  width: 1600px;
}

.site-footer {
  padding: 25px 10px;
  text-align: center;
  color: black;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

.footer-links a:hover {
  opacity: 0.8;
}

.copyright {
  font-size: 24px;
  color: black;
}

.footer-links a{
  font-size: 30px;
}
