body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}

.responsive{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: #7e0a93;
}

@media (max-width: 600px){

  body {
    align-items: flex-start;
  }

  .responsive{
    background-color: aqua;
}

}

@media (min-width: 601px){

   body {
    align-items: center;
  }

  .responsive{
    background-color: rgb(255, 0, 0);
}
}

@media (min-width: 700px ) and (max-width: 1000px){

   body {
    align-items: first baseline;
  }

  .responsive{
    background-color: rgb(210, 40, 170);
}

}


