*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel-caption {
  display: block !important;
  bottom: 10%;
  position: absolute;
  text-align: center;
}

.carousel-caption h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
#carouselExampleControls {
  width: 100%;       /* full width */
  max-width: 100%; /* optional: limit max size */
  margin: auto;
}

#carouselExampleControls img {
  height: 85vh;
}
/* Center prev/next arrows vertically */


