body{
    background: url(../Photos/nature.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#open-btn{
    position: absolute;
    top: 70%;
    left: 5vw;
    width: min(350px, 90%);
    font-size: 2rem;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: .5s;
}

#open-btn:hover{
    background-color: white;
    color: black;
}

#modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: animatemodal;
    animation-duration: .4s;
}

#close-btn{
    font-size: 3rem;
}

#close-btn:hover {
    cursor: pointer;
    font-size: 4rem;
    color: red;
}

#modal-container{
    display: none; 
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.2);
}

/* Modal Animation Section */

@keyframes animatemodal{
    from{
        top: -300px;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}
